.css-83ijpv-MuiTypography-root{
    color: rgb(204 204 204 / 60%) !important;
}

.modal-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}


@media (max-width: 640px) {
    .betHistory{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .history-list {
        display: none;
    }
    .see-more-button {
        font-size: 12px !important;
        margin-bottom: 20px !important;
    }
    .clear-history-button{
        font-size: 12px !important;
    }
    .list{
        font-size: 14px;
    }
    .historyTitle{
        font-size: 16px !important;
    }
}
